{% extends "./index.html" %}

{% block title %} Actualizar estadios {% endblock %}

{% block content %}

<div class="col-md-4 offset-md-4">
    <h1 align="center">Editar equipos</h1>
    <div class="card">
        <div class="card-body">
            <form action="/updateTeam/{{team.id_team}}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_team">ID</label>
                    <input type="text" name="id_team" id="id_team" value="{{team.id_team}}" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="name_team">Nombre</label>
                    <input type="text" name="name_team" id="name_team" value="{{team.name_team}}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="city_team">Ciudad</label>
                    <input type="text" name="city_team" id="city_team" value="{{team.city_team}}" class="form-control">
                </div>
                <div class="form-group py-3 d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-block text-white btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}