{% extends "./index.html" %}

{% block title %} main {% endblock %}

{% block content %}

<div class="col-md-4 offset-md-4">
    <h1 align="center">Menu</h1>
    <div class="card">
        <div class="card-body">
            <td>
                <a href="/player/" class="btn btn-dark">Jugadores</a>
                <a href="/team/" class="btn btn-dark">Equipos</a>
                <a href="/stadium/" class="btn btn-dark">Estadios</a>
            </td>
        </div>
    </div>
</div>
{% endblock %}