{% extends "./index.html" %}

{% block title %} Equipos {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 py-5">
        <h1 align="center">Agregar equipos</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registerTeam/" method="POST" enctype="multipart/form-data">
                    
                    {% csrf_token %}
    
                    <div class="form-group py-2">
                        <input type="text" name="id_team" id="id__team" class="form-control" placeholder="ID" minlength="1" maxlength="6" required>
                    </div>
    
                    <div class="form-group py-2">
                        <input type="text" name="name__team" id="name__team" class="form-control" placeholder="Nombre" minlength="1" maxlength="50" required>
                    </div>
    
                    <div class="form-group py-2">
                        <input type="text" name="city_team" id="city_team" class="form-control" placeholder="Ciudad" minlength="1" maxlength="50" required>
                    </div>
    
                    <div class="form-group py-3 d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block text-white px-lg-5">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 py-5">
        <h1 align="center">Lista de equipos</h1>
        <div class="table-responsibe">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Ciudad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                            <tr>
                                <td>{{team.id_team}}</td>
                                <td>{{team.name_team}}</td>
                                <td>{{team.city_team}}</td>
                                <td>
                                    <a href="/editTeam/{{team.id_team}}" class="btn btn-warning btnEdit">Editar</a>
                                    <a href="/deleteTeam/{{team.id_team}}" class="btn btn-danger btnDelete">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}